body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #105ac9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(27, 4, 4);
    text-decoration: none;
    font-weight: bold;
}


.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(87, 106, 183);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(113, 218, 222, 0.1);
}

h2 {
    color: #36110d;
    text-align: center;
}


input, select {
    width: 60%; 
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


button {
    width: auto; 
    background-color: #3498db;
    color: rgb(255, 255, 255);
    padding: 6px 12px; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
}

button:hover {
    background-color: #2980b9;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ecf0f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}


.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}


.auth-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #71dcd51a;
    width: 350px;
    text-align: center;
}


.auth-box h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #3bd5f8;
}


.auth-box input {
    width: 75%; 
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.auth-box button {
    width: auto; 
    padding: 6px 12px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.auth-box button:hover {
    background: #2980b9;
}


.toggle-text {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.toggle-text button {
    background: none;
    border: none;
    color: #3498db;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.toggle-text button:hover {
    text-decoration: underline;
}